.App {
  text-align: center;
  margin: auto;
  max-width: 500px;
  position: relative;
  height: 90vh;
}

.game-field {
  /* background-color:rgba(255, 0, 0, .5); */
  position: absolute;
  top: 110px;
  bottom: 180px;
  width: 100%;
}
.game-field .replay {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 0;
}
.game-field .replay:hover {
  cursor: pointer;
}

.container {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.input-name input {
  max-width: 150px;
  margin: 0 auto;
  margin-top: -10px;
}
.input-name button {
  margin-top: 20px;
  max-width: 200px;
}

.instruction {
  /* border: solid 2px black;
  border-radius: 5px; */
  margin: 10px;
}

.instruction p {
  margin: 0px;
}


.instruction img{
  display: inline-block;
  width: 40px;
}